@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  max-width: 1200px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
  color: rgb(var(--foreground-rgb));
  background:    rgb(241, 236, 235);
}

.card-to-do {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 25px;
  border-radius: 20px;
  width: 700px;
}